body {
    padding-bottom: 20px;
    font-family: Montserrat;
    font-weight:300;
    overflow-x:hidden;
}


/* for initial loading screen */
.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	background: url(../images/Preloader_7.gif) center no-repeat #fff;
}

.heading {
    font-family:Montserrat; 
    font-weight:400; 
    font-size:42px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin:0 auto;
    
}

/* Resizing navbar */
.navbar-fixed-top{
    padding:1.6vh 0;
    letter-spacing: 1px;
    font-weight:400;
    font-size:larger;
}


/*.navbar-nav>a, .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    background-color: none;
    color: gray;
 }*/

/* Start - These two classes are toggled in jQuery */
.change-nav-top{
    padding:1.6vh 0;
    background-color:black;
    -webkit-transition: padding .3s, background-color .2s, -webkit-transform 5s; /* Safari */
    transition: padding .3s, background-color .2s , transform 5s;
}

.change-nav-top2{
    padding:2vh 0;
    background-color:transparent;
    -webkit-transition: padding .3s, background-color .3s, -webkit-transform 5s; /* Safari */
    transition: padding .3s, background-color .3s , transform 5s;
}
/* End - Toggled classes */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row{
    margin-left:0;
    margin-right:0;
}

/* Sets the Navbar background to semi-transparent */
.navbar {
    border: none;
    border-radius: 0;
    overflow:hidden;
}

/* Ensures that the icon bar shows once collapsed */
.icon-bar {
    background-color: white;
}

/* Stops the brand name from turning blue on hover */
.navbar-brand:hover,
.navbar-brand:focus {
    color:white;
}

/*  */
.nav-selected{
  text-decoration:underline;
}

/* Pushes site content below the navbar, disabled because the navbar looks ugly without content below - will tweak */
/*.body-content {
    padding-top:50px;
}*/

/* Forces Navbar text to white */
.nav-text {
    color:white;
}

.dl-horizontal dt {
    white-space: normal;
}

.header-home , .header-caption{
    text-align:center;
    padding: 0 5vw;
}

input,
select,
textarea 
{
    max-width: 280px;
}

.padded {
    padding-left:15vw; 
    padding-right:15vw;
}

.glyphicon-triangle-top {
    font-size: 80px;
    color:#00358b;
    display:block;
    text-align:center;
    margin-top: -22px;
    margin-bottom: -22px;
}

.section-text {
    font-size:22px; 
    color:grey; 
    font-weight:400;
    margin-bottom:2vh;
}

.about {
    padding-top:1vh;
}

.about hr{
    margin-top:1vh;
    margin-bottom:1vh;
}

.about-title {
        margin-top:15px;
    font-size:30px;
    font-weight:500;
    margin-bottom:0;
}
.about-subtitle {
    font-size:20px;
    font-weight:400;
    margin-bottom:0;
}

.about-text{

    padding-left:1em;
    padding-right:1em;
    text-align:left;
    font-size:16px;
    padding-bottom: 15px;
}

.portfolio {
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    margin-bottom:50px;
}

.portfolio-title {
    background:rgba(0,53,139,1);
}

.portfolio-title-text{
    color:#fff;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    text-align:center;
    padding-left:20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.portfolio-width {
    width:100%;
}

.portfolio-overlay {
    position: absolute;
    transition: all .5s;
    overflow: hidden;
    margin-right:15px;
    height: 0;
    background: rgb(0,53,139);
    background: -moz-linear-gradient(top, rgba(0,53,139,1) 0%, rgba(255,255,255,1) 2%);
    background: -webkit-linear-gradient(top, rgba(0,53,139,1) 0%,rgba(255,255,255,1) 2%);
    background: linear-gradient(to bottom, rgba(0,53,139,1) 0%,rgba(255,255,255,1) 2%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00358b', endColorstr='#ffffff',GradientType=0 );
}

.portfolio-overlay-text {
    font-size: 16px;
    padding-top:8px;
    padding-left:20px;
    padding-right:10px;
    opacity: 0;
    transition: all .5s;
}

.portfolio:hover .portfolio-overlay {
    height: 300px;
}

.portfolio:hover > .portfolio-overlay > .portfolio-overlay-text {
    opacity: 1;
}

.portfolio-readmore {
    margin-top:30px;
    text-align:center;
}

.portfolio-image {
    width:initial;
	height: 300px;
    justify-content: center;
    background: url("../Images/HospiceThumb.jpg") no-repeat;
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-image2 {
    width:initial;
	height: 300px;
    justify-content: center;
    background: url("../Images/panic_more.png") no-repeat;
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-image3 {
    width:initial;
	height: 300px;
    justify-content: center;
    background: url("../Images/HospiceThumb.jpg") no-repeat;
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
}

#hospiceJumbotron {
    background: url("../Images/HospiceThumb.jpg") no-repeat;
    justify-content: center;
    background-size:cover;
	height: 50vh;
    margin:0;
}

#panicJumbotron {
    background: url("../Images/help.png") no-repeat;
    justify-content: center;
    background-size:cover;
	height: 50vh;
    margin:0;
}

.modal-header {
    background:rgba(0,53,139,1);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     border-bottom:none;
}

.modal-title {
    color:#fff;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    text-align:center;
}

.portrait {
	width: 15vw;
	height: 15vw;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.portrait-andreas {
	background: url("../Images/AndreasPortrait.jpg") no-repeat;
    background-size:cover;
}

.portrait-tim {
	background: url("../Images/tim_thumbnail.jpg") no-repeat;
    background-size:cover;
}

.portrait-default {
	background: url("../Images/defaultProfile.png") no-repeat;
    background-size:cover;
}

.quotebox {
    background-color:#00358b; 
    width:100vw;
}

.quotebox-text
{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align:center;
    padding: 7vh 0.3vw;
    line-height:50px;
    font-weight:300;
}

.jumbotron-home{
    height:100vh;
    width:100vw;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../Images/laptop.jpg");
    background-size: cover;
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*.jumbotron 
{
    color:white;
    padding-top:15vh;
    padding-bottom:14vh;
    margin-bottom:10px;
}*/

.jumbotron-home h1 
{
    font-family:Montserrat, sans-serif;
    font-weight:600;
    font-size: 5em;
    margin-top:.2em;
    letter-spacing: 2px;
}
.jumbotron-home p 
{
    font-family:Montserrat, sans-serif;
    font-weight:300;
    font-size:1.5em;
    letter-spacing:5px;
}

.jumbotron-home a
{
    font-family:Montserrat, sans-serif;
    font-weight:400;
    padding: 1.9vh 2.5vw;
    font-size:1em;
    text-align:center;
    margin-top:3vh;
}

.line 
{
    color: #000000;
    margin-top:10px;
    margin-bottom:10px;
    background-color: #000000;
    height: 3px;
    width:32%;
}

.line1 
{   
    color: #000000;
    background-color: #000000;
    height: 3px;
    width:10%;
}

.circle 
{
	width: 15vw;
	height: 15vw;
    margin:0 auto;
	background: #00358b;
	-moz-border-radius: 100px;
	-webkit-border-radius: 300vw;
	border-radius: 300vw;
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
}

.circle:hover 
{

    background-color:blue;
    -webkit-transition:  background-color .25s, margin-bottom .2s, -webkit-transform 2s; /* Safari */
    transition: background-color .25s, margin-bottom .2s , transform 2s;
    z-index:2;
}

.circle:hover a 
{
    text-decoration:none;
}

.circleicons img, .circleicons p 
{
    height:60%;
    width:60%;
    display: block;
    margin:0 auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.circle-row
{
    padding-left:15vw;
    padding-right: 15vw;
}

.circletext 
{
    font-size: 2em;
}

.work-detail-header{
    font-size:2.5em; color:white; font-weight:700;text-align:right; display:block;
}

.work-detail-image{
    width:100%;
    padding:2vw;
}

.work-detail-text{
    font-size:1em; color:white; font-weight:200; text-align:right;
     line-height:1.6em;
}
.work-detail-skills{
    font-size:1.4em; color:white; font-weight:300; text-align:right;
}

.btn-primary 
{
    background-color:#0050d1;
    border:none;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;

	padding: 50px 15vw 40px 15vw;
    margin-bottom:-20px;

	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color: #ffffff;
	font-size: 50px;
    font-family: Montserrat;
    font-weight:500;
	margin: 0 0 10px;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

@media only screen and (max-width: 1000px) and (min-width: 500px)
{
    .navbar-fixed-top {
    padding:.5vh 0;
    }

    .jumbotron
    {
        padding-top:10vh;
        padding-bottom:6vh;
    }
    .jumbotron h1 
    {
        font-size: 45px;
    }
    .jumbotron a 
    {
        margin-bottom:1vh;
        padding: 2vh 4vw;
        font-size: .8em;
    }
    .jumbotron p 
    {
        font-size:.8em;
    }
    .circleicons img, .circleicons p 
    {
        height:50%;
        width:50%;
    }
    .circletext  
    {
        font-size:2vw;
    }
    .portrait{
        height:30vw;
        width:30vw;
    }
    .padded{
        padding-left:8vw; 
        padding-right:8vw;
    }

    .portfolio {
    margin-bottom:30px;
}
}

@media only screen and (max-width: 500px) 
{

    .navbar-fixed-top {
    padding:.5vh 0;
    }

    .jumbotron-home
    {
        padding-top:10vh;
        padding-bottom:6vh;
        /*background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../Images/laptop2.jpg");*/
    }
    .jumbotron-home h1 
    {
        font-size: 38px;
        padding: 20px;
    }
    .jumbotron-home p 
    {
        font-size: 15px;
        padding: 20px;
        margin-top:-35px;
    }
            
    .jumbotron-home a 
    {
        padding: 2vh 4vw;
        font-size: 1em;
    }
    .circle 
    {
	    width: 23vw;
	    height: 23vw;
        margin-left:-4vw;
        margin-right:-4vw;
    }
    .circle:hover 
    {
	    width: 24vw;
	    height: 24vw;
        margin-top: -1vh;
        margin-left:-4vw;
        margin-right:-4vw;
        transition: width .5s, height .5s, margin-top .5s, linear;
    }

    .circleicons img, .circleicons p 
    {
        height:50%;
        width:50%;
    }
    .circletext  
    {
        font-size:3vw;
    }
    .portrait{
        height:50vw;
        width:50vw;
    }
    .padded{
        padding-left:5vw; 
        padding-right:5vw;
    }
}

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

    .footer-distributed form button {
        padding: 10px 35px;
    }
}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}