<div class=" row padded" style="background-color:#eeeeee; padding-top:30px; padding-bottom:30px;" id="ourMission">
    <h1 class="col-md-12 heading">Our Mission</h1>
    @*<hr class="line" />*@
    <p style="margin-bottom:20px; font-weight:300; color:#123489; font-size:30px;" class="section-text col-md-12">
        Creating amazing apps and websites for devices of all shapes and sizes
    </p>
    <p style="margin-top:-10px; font-weight:300; font-size:24px;" class="section-text col-md-12">
        Accessasoft is dedicated to making custom software that is affordable to business of all sizes. Providing every organization the opportunity to obtain custom software solutions built to meet their unique wants and needs.

        @*<img class="col-md-6"  src="~/Images/apple-devicechanged.png" />*@
</div>
<div id="btnRow" style="background-color:#eeeeee;" class="row">
    <div class="circle-row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="btnDesign" class="circletext circle">
                <div class="circleicons">
                    <img src="~/Images/webdicon.png" />
                    <p class="text-center" style="color:white;">Design</p>
                </div>
            </div>
            <span class="glyphicon glyphicon-triangle-top circleArrow" id="arrowDesign"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="btnDevelop" class="circletext circle">
                <div class="circleicons">
                    <img src="~/Images/gears.png" />
                    <p class="text-center" style="color:white;">Develop</p>
                </div>
            </div>
            <span class="glyphicon glyphicon-triangle-top circleArrow" id="arrowDevelop"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="btnRespond" class="circletext  circle">
                <div class="circleicons">
                    <img src="~/Images/iphone.png" />
                    <p class=" text-center" style="color:white;">Respond</p>
                </div>
            </div>
            <span class="glyphicon glyphicon-triangle-top circleArrow" id="arrowRespond"></span>
        </div>
    </div>
</div>
<div id="qbRespond" class="row col-md-12 quotebox padded" hidden>
    <div class="quotebox-text padded">
        "Accessasoft builds responsive software so it looks great
        and functions smoothly on any platform be it cell phone,
        tablet or computer"
    </div>
</div>
<div id="qbDevelop" class="row col-md-12 quotebox padded" hidden>
    <div class="quotebox-text padded">
        "Accessasoft ties its softwares functionality directly into
        the design process, resulting in a more intuitive user
        experience"
    </div>
</div>
<div id="qbDesign" class="row col-md-12 quotebox padded">
    <div class="quotebox-text padded">
        “Accessasoft uses a holistic approach to design which fully ties the design and functionality into the development process.”
    </div>
</div>
