@{
    ViewBag.Title = "Home Page";
}
<div id="home" class="jumbotron-home">
    <h1 @*style="background-color:rgba(0,0,0,0.7)"*@ class="header-home">WELCOME TO ACCESSASOFT</h1>
    <p @*style="background-color:rgba(0,0,0,0.7)"*@ class="header-caption">AN AMAZING MOBILE APP AND WEBSITE DEVELOPMENT STUDIO!</p>
    @*<p class="text-center"><a style="text-shadow:none;" href="http://asp.net" class="btn btn-primary btn-lg">GET IN TOUCH</a></p>*@
</div>
<div class=" row padded" style="background-color:#eeeeee; padding-top:30px; padding-bottom:30px;" id="ourMission">
    <h1 class="col-md-12 heading">Our Mission</h1>
    @*<hr class="line" />*@
    <p style="margin-bottom:20px; font-weight:300; color:#123489; font-size:30px;" class="section-text col-md-12">
        Creating amazing apps and websites for devices of all shapes and sizes
    </p>
    <p style="margin-top:-10px; font-weight:300; font-size:24px;" class="section-text col-md-12">
        Accessasoft is dedicated to making custom software that is affordable to business of all sizes. Providing every organization the opportunity to obtain custom software solutions built to meet their unique wants and needs.

        @*<img class="col-md-6"  src="~/Images/apple-devicechanged.png" />*@
</div>
<div style="background-color:#eeeeee;" class="row">
    <div class="circle-row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="btnDesign" class="circletext circle">
                <div class="circleicons">
                    <img src="~/Images/webdicon.png" />
                    <p class="text-center" style="color:white;">Design</p>
                </div>
            </div>
            <span class="glyphicon glyphicon-triangle-top circleArrow" id="arrowDesign"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="btnDevelop" class="circletext circle">
                <div class="circleicons">
                    <img src="~/Images/gears.png" />
                    <p class="text-center" style="color:white;">Develop</p>
                </div>
            </div>
            <span class="glyphicon glyphicon-triangle-top circleArrow" id="arrowDevelop"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="btnRespond" class="circletext  circle">
                <div class="circleicons">
                    <img src="~/Images/iphone.png" />
                    <p class=" text-center" style="color:white;">Respond</p>
                </div>
            </div>
            <span class="glyphicon glyphicon-triangle-top circleArrow" id="arrowRespond"></span>
        </div>
    </div>
</div>
<div id="qbRespond" class="row col-md-12 quotebox padded" hidden>
    <div class="quotebox-text padded">
        "Accessasoft builds responsive software so it looks great
        and functions smoothly on any platform be it cell phone,
        tablet or computer"
    </div>
</div>
<div id="qbDevelop" class="row col-md-12 quotebox padded" hidden>
    <div class="quotebox-text padded">
        "Accessasoft ties its softwares functionality directly into
        the design process, resulting in a more intuitive user
        experience"
    </div>
</div>
<div id="qbDesign" class="row col-md-12 quotebox padded">
    <div class="quotebox-text padded">
        “Accessasoft uses a holistic approach to design which fully ties the design and functionality into the development process.”
    </div>
</div>
<div class="row padded">
    <div id="ourteam" class="col-md-12 col-sm-12">
        <h1 style="margin-top:40px;" class="col-md-12 heading">Our People</h1>
        @*<hr class="line" />*@
        <p style="font-weight:300; color:#123489; font-size:30px;" class="section-text col-md-12">
            Building custom software solutions as a team
        </p>
        <p style="margin-bottom:-20px; margin-top:-5px; font-weight:300; font-size:24px;" class="section-text col-md-12">
            Accessasoft is a group of innovative software developers who have come together to as a team to enhance each other’s strength and produce high quality custom software at a reasonable price.
        </p>
    </div>
</div>

<div style="padding-top:40px; padding-bottom:20px;" class="row padded">
    <div class="col-md-4 about">
        <div class="portrait portrait-andreas">
        </div>
        <p class="text-center about-title">Andreas King</p>
        <p class="text-center about-subtitle">Design Lead</p>
        <hr />
        <p class="about-text">
            With a passion for technology that began with the first time using a computer as a child, I attended Niagara College for computer programming immediately after exiting high school. During my time there, I took the role of Design Lead on the Hospice Niagara Portal project, and then completed a co-op with Hospice Niagara to expand on its functionality to make it a perfect fit for them.
        </p>
    </div>
    <div class="col-md-4 about">
        <div class="portrait portrait-tim">
        </div>
        <p class="text-center about-title">Timothy Blokzyl</p>
        <p class="text-center about-subtitle">Development Lead</p>
        <hr />
        <p class="about-text">
            When it comes to programming, I am a jack of all trades. Born and raised in Welland, Onatio. I am the part of the puzzle that bridges the vision of the architecture with the reality of the code. I look beyond the task at hand and attempt to find the most efficient solution to any problem.
        </p>
    </div>
    <div class="col-md-4 about">
        <div class="portrait portrait-default">
        </div>
        <p class="text-center about-title">Paul Boyko</p>
        <p class="text-center about-subtitle">Database Lead</p>
        <hr />
        <p class="about-text">
            Paul Boyko attained his BA with Joint Major in English and Philosophy in 2005. Following University Paul started a family. Paul graduated from the Computer Programmer Analyst at Niagara College program in 2015. He started developing custom software solutions in 2015 with the release of the Hospice Niagara Portal and in early 2016 Paul co-founded Accessasoft.
        </p>
    </div>
</div>
<div id="ourWork" style="background-color:#eeeeee; padding-top:40px; padding-bottom:40px;" class="row padded">
    <div class="col-md-12 col-sm-12">
        @*<h1 class="text-center heading">Our Work</h1>
            <hr class="line" />
            <p class="text-center section-text padded">
                "Accessasoft is a group of innovative software developers who have come together to as a team to enhance each other’s strength and produce the high quality custom software at a reasonable price."
            </p>*@
        <h1 class="col-md-12 heading">Our Work</h1>
        @*<hr class="line" />*@
        <p style="margin-bottom:20px; font-weight:300; color:#123489; font-size:30px;" class="section-text col-md-12">
            We develop mobile-ready software for all
        </p>
        <p style="margin-top:-10px; font-weight:300; font-size:24px;" class="section-text col-md-12">
            Accessasoft focuses on developing fully mobile ready web applications using the .NET framework.  We at Accessasoft have a strong background in C#, Javascript, JQuery, LINQ, T-SQL, SQL, HTML5, CSS3, Bootstrap, PHP, Java, Android,  photo editing, video editing and 3-D graphic design.
        </p>
    </div>
</div>
<div style="background-color:#eeeeee;" class="row padded">
    <div class="col-md-4 col-sm-6">
        <div class="portfolio">
            <div class="portfolio-title">
                <div class="portfolio-title-text">
                    Hospice Niagara Portal
                </div>
            </div>
            <div class="portfolio-overlay">
                <div class="portfolio-overlay-text">
                    The Hospice Niagara portal was initally developed in a team during our time at Niagara College. Amongst many other versions developed by other teams, ours was chosen by Hospice Niagara.
                </div>
                <div class="portfolio-readmore">
                    Click to Learn More
                </div>
            </div>
            <div class="portfolio-image port-image1">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="portfolio">
            <div class="portfolio-title">
                <div class="portfolio-title-text">
                    Panic App
                </div>
            </div>
            <div class="portfolio-overlay">
                <div class="portfolio-overlay-text">
                    An Android appliction that allows an individual who is in
                    a dangerous situation to inform freinds or family with the
                    touch of a button that they need help.
                </div>
            </div>
            <div class="portfolio-image2">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="portfolio">
            <div class="portfolio-title">
                <div class="portfolio-title-text">
                    Can View Drive-In
                </div>
            </div>
            <div class="portfolio-overlay">
                <div class="portfolio-overlay-text">
                    A modern design and layout with a simplistic content managament
                    system which allow any one of any still level to update and maintain
                    the site.
                </div>
            </div>
            <div class="portfolio-image3">
            </div>
        </div>
    </div>
</div>