@{
    ViewBag.Title = "Home Page";
}
<div id="scrolltotoptest1" class="jumbotron-home">
    <h1 @*style="background-color:rgba(0,0,0,0.7)"*@ class="header-home">WELCOME TO ACCESSASOFT</h1>
    <p @*style="background-color:rgba(0,0,0,0.7)"*@ class="header-caption">AN AMAZING MOBILE APP AND WEBSITE DEVELOPMENT STUDIO!</p>
    @*<p class="text-center"><a style="text-shadow:none;" href="http://asp.net" class="btn btn-primary btn-lg">GET IN TOUCH</a></p>*@
</div>
<div class="row" id="ourMission">
    <div class="col-md-12 col-sm-12">
        <h1 class="text-center heading">Our Mission</h1>
        <hr class="line" />
        <p class="text-center section-text padded">
            "Accessasoft is dedicated to making custom software that is affordable to business of all sizes.  Providing every organization the opportunity to obtain custom software solutions built to meet their unique wants and needs."
        </p>
    </div>
</div>
<div class="row">
    <div class="circle-row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="btnDesign" class="circletext circle">
                <div class="circleicons">
                    <img src="~/Images/webdicon.png" />
                    <p class="text-center" style="color:white;">Design</p>
                </div>
            </div>
            <span class="glyphicon glyphicon-triangle-top circleArrow" id="arrowDesign"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="btnDevelop" class="circletext circle">
                <div class="circleicons">
                    <img src="~/Images/gears.png" />
                    <p class="text-center" style="color:white;">Develop</p>
                </div>
            </div>
            <span class="glyphicon glyphicon-triangle-top circleArrow" id="arrowDevelop"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="btnRespond" class="circletext  circle">
                <div class="circleicons">
                    <img src="~/Images/iphone.png" />
                    <p class=" text-center" style="color:white;">Respond</p>
                </div>
            </div>
            <span class="glyphicon glyphicon-triangle-top circleArrow" id="arrowRespond"></span>
        </div>
    </div>
</div>
<div id="qbRespond" class="row col-md-12 quotebox padded" hidden>
    <div class="quotebox-text padded">
        “Accessasoft develops products that are mobile friendly!”
    </div>
</div>
<div id="qbDevelop" class="row col-md-12 quotebox padded" hidden>
    <div class="quotebox-text padded">
        “Accessasoft develops products.”
    </div>
</div>
<div id="qbDesign" class="row col-md-12 quotebox padded">
    <div class="quotebox-text padded">
        “Accessasoft uses a holistic approach to design which fully ties the design and functionality into the development process.”
    </div>
</div>

<div class="row" id="ourPeople">
    <div class="col-md-12 col-sm-12">
        <h1 class="text-center heading">Our People</h1>
        <hr class="line" />
        <p class="text-center section-text padded">
            "Accessasoft is a group of innovative software developers who have come together to as a team to enhance each other’s strength and produce the high quality custom software at a reasonable price."
        </p>
    </div>
</div>

<div class="row padded">
    <div class="col-md-4 about">
        <div class="portrait portrait-andreas">
        </div>
        <p class="text-center about-title">Andreas King</p>
        <p class="text-center about-subtitle">Design Lead</p>
        <hr />
        <p class="about-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
    <div class="col-md-4 about">
        <div class="portrait portrait-tim">
        </div>
        <p class="text-center about-title">Timothy Blokzyl</p>
        <p class="text-center about-subtitle">Development Lead</p>
        <hr />
        <p class="about-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
    <div class="col-md-4 about">
        <div class="portrait portrait-default">
        </div>
        <p class="text-center about-title">Paul Boyko</p>
        <p class="text-center about-subtitle">Database Lead</p>
        <hr />
        <p class="about-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
</div>

<div class="row" id="ourWork" style="margin-top:50px">
    <div class="col-md-12 col-sm-12">
        <h1 class="text-center heading">Our Work</h1>
        <hr class="line" />
        <p class="text-center section-text padded">
            "Accessasoft focuses on developing fully mobile ready web applications using the .NET framework.  We at Accessasoft have a strong background in C#, Javascript, JQuery, LINQ, T-SQL, SQL, HTML5, CSS3, Bootstrap, PHP, Java, Android,  photo editing, video editing and 3-D graphic design."
        </p>
    </div>
</div>
<div class="row padded" style="margin-bottom:200px">
    <div class="col-md-4">
        <div class="portfolio">
            <div class="portfolio-title">
                <div class="portfolio-title-top">
                    Website
                </div>
                <div class="portfolio-title-text">
                    Hospice Niagara Portal
                </div>
            </div>
            <div class="portfolio-overlay">
                <div class="portfolio-overlay-text">
                    This is test text! The portal is a very interesting project and there is a lot to talk about.
                </div>
            </div>
            <div class="portfolio-image-hospice">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portfolio">
            <div class="portfolio-title">
                <div class="portfolio-title-top">
                    Android App
                </div>
                <div class="portfolio-title-text">
                    Help!
                </div>
            </div>
            <div class="portfolio-overlay">
                <div class="portfolio-overlay-text">
                    This is test text! The portal is a very interesting project and there is a lot to talk about.
                </div>
            </div>
            <div class="portfolio-image-help">

            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="portfolio">
            <div class="portfolio-title">
                <div class="portfolio-title-top">
                    Website
                </div>
                <div class="portfolio-title-text">
                    Hospice Niagara Portal
                </div>
            </div>
            <div class="portfolio-overlay">
                <div class="portfolio-overlay-text">
                    This is test text! The portal is a very interesting project and there is a lot to talk about.
                </div>
            </div>
            <div class="portfolio-image-hospice">

            </div>
        </div>
    </div>
</div>
