@{
    ViewBag.Title = "Home Page";
}
<div id="home" class="jumbotron-home">
    <h1 @*style="background-color:rgba(0,0,0,0.7)"*@ class="header-home">WELCOME TO ACCESSASOFT</h1>
    <p @*style="background-color:rgba(0,0,0,0.7)"*@ class="header-caption">AN AMAZING MOBILE APP AND WEBSITE DEVELOPMENT STUDIO!</p>
    @*<p class="text-center"><a style="text-shadow:none;" href="http://asp.net" class="btn btn-primary btn-lg">GET IN TOUCH</a></p>*@
</div>

@{Html.RenderPartial("_OurMission");}

@{Html.RenderPartial("_OurPeople");}

@{Html.RenderPartial("_OurWork");}




