@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <h1 style="font-family:Montserrat; font-weight:400; font-size:2.2vw;" class="text-center">MULTI CHANNEL CREATIVE AGENCY</h1>
        <hr class="line" />
        <p style="font-size:22px; color:grey; font-weight:400; padding-left:15vw; padding-right:15vw; padding-bottom:2vh;" class="text-center";>
            "I am a young experienced, developer who loves to add value to brands and create lasting strategic client partnerships"
        </p>
    </div>
</div>
<div class="row">
    <div class="circle-row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="someclass circle">
                <a href="#">
                    <div class="circleicons">
                        <img src="~/Images/webdicon.png" />
                        <p class="text-center" style="color:white;">Design</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="someclass circle">
                <a href="#">
                    <div class="circleicons">
                        <img src="~/Images/gears.png" />
                        <p class="text-center" style="color:white;">Develop</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="someclass circle">
                <a href="#">
                    <div class="circleicons">
                        <img src="~/Images/iphone.png" />
                        <p class=" text-center" style="color:white;">Respond</p>
                    </div>
                </a>
            </div>
            @*<div class="text-center" style=" background-color:blue; height:8vw; width:8vw; z-index:-10; margin-bottom: -13vh; transform:rotate(45deg);     margin-left: auto; margin-right:auto; "></div>*@
        </div>
        </div>
    </div>

    <div class="row" style="background-color:#00358b; width:100vw; margin-top:5vh;">
        <div class="quotebox">
            “Accessasoft creates clean designs fully implementing your company or organization’s preexisting branding. Accessasoft uses a holistic
            approach to design which fully ties the design and functionality into the development process.”
        </div>
    </div>
@* Temporary rows to show where the content will go*@
    <div class="row" style="background-color:white; height: 60vh; width:100vw; margin-top:5vh;"></div>
    <div class="row" style="background-color:#00358b; height: 60vh; width:100vw; margin-top:5vh;"></div>
    <div class="row" style="background-color:white; height: 80vh; width:100vw; margin-top:5vh;"></div>
    <div class="row" style="background-color:#00358b; height: 40vh; width:100vw; margin-top:5vh;"></div>
@* Temporary end*@